body {
    background-color: #eceef1;
}
.App {
    text-align: center;
    font-size: 12px;
}
fieldset {
    border: none;
    font-size: 1rem;
    display: flex;
    flex-direction: column;
}
label {
    text-align: left;
    padding-bottom: 6px;
}
a {
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
.already-have-account {
    width: 100%;
    padding: 10px 30px;
}
.header-container {
    margin-left: auto;
    width: 301px;
    display: flex;

    height: 36px;
    color: #505050;
}
.header-container-component {
    margin-left: 10px;
}
.header-container-component a {
    color: #0077c5;
}
.sign-in-button {
    color: white;
    background-color: #0077c5;
    border-radius: 5px;
    border: 1px solid grey;
    padding: 0 20px;
    display: flex;
    align-items: center;
    height: 34px;
}
.sign-in-icon {
    height: 25px;
    width: 16px;
    margin-right: 6px;
}

.main-logo {
    width: 100%;
    height: 75px;
    padding: 20px 0;
}
.logo-container {
    height: 35px;
}
.logo {
    display: block;
    background-image: url(./images/ecosystem_logos_new@2x-9448e6be.png);
    background-size: 562px 83px;
    width: 118px;
    height: 35px;
    margin: 0 auto;
}

.products {
    width: 100%;
    height: 43px;
    padding-bottom: 4px;
}
.products-list {
    width: 100%;
    height: 23px;
}
.products-list ul {
    display: block;
    position: relative;
    text-align: center;
    height: 23px;
    width: 318px;
    margin: 0 auto 1rem;
}
.products-list > ul > li {
    display: inline-block;
    cursor: pointer;
    margin-right: 0.375rem;
}

.products-list > ul > li > span {
    display: inline-block;
    position: relative;
    height: 23px;
    width: 23px;
}

.mint {
    background: url(./images/mint.svg) no-repeat;
    width: auto;
    margin-right: 4px;
}
.mint-a {
    display: inline-block;
    background: url(./images/mint-link.svg) no-repeat;
    width: 37px;
    height: 20px;
}
.quickbooks {
    background: url(./images/quickbooks.svg) no-repeat;
    width: auto;
    margin-right: 4px;
}
.quickbooks-a {
    display: inline-block;
    background: url(./images/quickbooks-link.svg) no-repeat;
    width: 98px;
    height: 20px;
}
.turbotax {
    background: url(./images/turbotax.svg) no-repeat;
    width: auto;
    margin-right: 4px;
}
.turbotax-a {
    display: inline-block;
    background: url(./images/turbotax-link.svg) no-repeat;
    width: 74px;
    height: 20px;
}
.sign-up header {
    padding-bottom: 20px;
}

.sign-up-form-container {
    position: relative;
    border-radius: 5px;
    background-color: #fff;
    border: 1px solid #c7c7c7;
    margin: auto;
    padding: 1.875rem;
    width: 380px;
}

.sign-up-header {
    font-size: 1.4rem;
    margin-bottom: 1rem;
}
.input-wrapper {
    position: relative;
    width: 100%;
}
fieldset {
    margin-bottom: 25px;
    position: relative;
}
.input {
    height: 34px;
    width: 100%;
    padding: 0 6px 0 8px;
    border-radius: 4px;
    border: 1px solid rgb(172, 172, 172);
}
.input:focus {
    border: 1px solid rgb(82, 186, 221) ;
    outline: 1px solid rgb(82, 186, 221);
    box-shadow: 0 1px 1px rgb(0 0 0/8%) inset, 0 0 8px rgb(82 168 236 / 60%);
}
.unlock {
    width: 20px;
    height: 20px;
    position: absolute;
    top: 5px;
    right: 4px;
}
.button-submit {
    background-color: #0077c5;
    color: white;
    font-size: 1.3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 44px;
}
.sign-in-button-icon {
    margin-right: 6px;
}
.description {
    text-align: left;
    font-size: 0.7rem;
}
.copassword-fieldset {
    transition: 0.4s;
}
#password:focus .copassword-fieldset {
    height: max-content;
}
.description-bottom{
    margin-top: 20px;
    color: #505050;
    margin-bottom: 40px;
}
.description-bottom a{
    color:rgb(97, 143, 230); 
}

.form-footer{
    bottom: 0;
    left: 0;
    position: absolute;
    background-color: #ECEEF1;
    width: 100%;
    padding: 16px;
}
.form-footer a{
    color: rgb(97, 143, 230);
    border-radius: 6px;
}

.main-footer{
    color:gray ;
    font-size: 0.8rem;
    height: 99px;
    padding: 20px 0;
}
.privacy a{
    padding: 0 10px;
}

.privacySettings{
    width: 100%;
    text-align: left;
    font-size: 1rem;
    margin-top: 72px;
    padding: 20px;
    background-color: #ffffff;
    color: #0378C6;
}
.notify{
    position: absolute;
    left: 100% ;
    min-height: 34px;
    display: flex;
   
    align-items: center;
    justify-content: center;
    font-size: 0.85rem;
    padding: 5px 10px;
    margin-left: 10px;
    border-radius: 5px;
    background-color: #404040;
    color: white;
    width: fit-content;
    top: 50%;
}
.password-req{
    text-align: left;
    text-decoration: none;
    margin-bottom: 10px;
}
ul{
    list-style: none;
}
.red{
    color: red;
}
.pass{
    color: green;
}
.green-border{
    border: 1px solid green;
}
.red-border{
    border: 1px solid red;
   
}